body {
  font-family: "Archivo", Helvetica, sans-serif;
  margin: 0;
}

.mono {
  font-family: "Azeret Mono", monospace;
}

.gay:hover {
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 25%, rgb(0, 255, 0) 50%, rgb(0, 180, 255) 66%, rgb(0, 0, 255) 83%, rgb(255, 0, 255) 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  width: 20%;
  background-color: #1a1a1a;
}
nav h1 {
  font-family: "Azeret Mono", monospace;
  color: white;
  padding: 2rem;
}
nav h1:hover {
  color: #ff0077;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul a {
  text-decoration: none;
  color: white;
}
nav ul a:hover {
  background-color: #0a0a0a;
}
nav ul a li {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2rem;
}
nav ul a li:hover {
  background-color: #0a0a0a;
}

#footer-hover {
  width: 100%;
  height: 5vh;
  position: fixed;
  bottom: 0;
  background-color: blue;
  opacity: 0;
}

footer {
  width: 100%;
  height: 5vh;
  display: flex;
  background-color: #1a1a1a;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -50;
  transition: bottom 0.2s ease-in-out;
}

.flex {
  display: flex;
  height: 100vh;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 2rem;
}
main#home {
  color: white;
}
main#home .bgimage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../img/blackgold.jpg");
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}
main#about {
  color: white;
}
main#about .bgimage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../img/pink.jpg");
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}
main#projects {
  color: white;
}
main#projects .bgimage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../img/roses.jpg");
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}
main h1 {
  font-size: 3rem;
  font-weight: 400;
}
main .content {
  text-align: center;
  width: 80%;
}
main .content a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
main .content a:hover {
  color: #ff0077;
}

.black {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 80%;
}

#projects {
  padding: 2rem;
}

.project {
  width: 100%;
}
.project:hover h3 {
  color: #ff0077;
}
.project:hover h3::before {
  content: "> ";
}
.project:hover h3#kiwiproject::after {
  content: ", on github";
}
.project a {
  text-decoration: none;
  color: white;
}
.project h3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}
.project p {
  font-size: 1.5rem;
  font-weight: 200;
}

@media screen and (max-aspect-ratio: 1/1) {
  .flex {
    flex-direction: column;
  }
  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1.5vw;
    background-color: #1a1a1a;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  nav ul a li {
    font-size: 2.5vw;
  }
  main {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100vh;
    margin: auto;
  }
  main#home .bgimage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/blackgold.jpg");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
  }
  main#about .bgimage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/pink.jpg");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
  }
  main#projects .bgimage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/roses.jpg");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
  }
  main h1 {
    font-size: 2rem;
  }
  main .content {
    width: 100%;
    padding: 2rem;
  }
  footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #1a1a1a;
    color: white;
    z-index: 1;
  }
  footer#footer-hover {
    opacity: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
