// variables and generics

$notblack: #1a1a1a;
$notblacker: #0a0a0a;
$getmagentad: #ff0077;

body {
    font-family: 'Archivo', Helvetica, sans-serif;
    margin: 0;
}

.mono {
    font-family: 'Azeret Mono', monospace;
}

.gay {
    &:hover {
        background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 25%, rgba(0, 255, 0, 1) 50%, rgba(0, 180, 255, 1) 66%, rgba(0, 0, 255, 1) 83%, rgba(255, 0, 255, 1) 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// header

nav {
    width: 20%;
    background-color: $notblack;


    h1 {
        font-family: 'Azeret Mono', monospace;
        color: white;

        padding: 2rem;

        &:hover {
            color: $getmagentad;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                background-color: $notblacker;
            }

            li {
                padding: 1rem 0;
                font-size: 1.5rem;
                font-weight: 400;

                padding: 2rem;


                &:hover {
                    background-color: $notblacker;
                }
            }

        }


    }
}

// footer

#footer-hover {
    width: 100%;
    height: 5vh;

    position: fixed;
    bottom: 0;

    background-color: blue;
    opacity: 0;
}

footer {
    width: 100%;
    height: 5vh;

    display: flex;

    background-color: $notblack;
    color: white;

    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: -50;
    transition: bottom 0.2s ease-in-out;
}

// main

.flex {
    display: flex;
    height: 100vh;
}

main {
    width: 80%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 200;
    font-size: 2rem;

    &#home {

        .bgimage {
            width: 100%;
            height: 100%;

            position: fixed;
            top: 0;
            left: 0;

            background-image: url('../img/blackgold.jpg');
            background-repeat: repeat;
            background-size: cover;

            z-index: -1;
        }

        color: white;
    }

    &#about {
        .bgimage {
            width: 100%;
            height: 100%;

            position: fixed;
            top: 0;
            left: 0;

            background-image: url('../img/pink.jpg');
            background-repeat: repeat;
            background-size: cover;

            z-index: -1;
        }


        color: white;
    }

    &#projects {
        .bgimage {
            width: 100%;
            height: 100%;

            position: fixed;
            top: 0;
            left: 0;

            background-image: url('../img/roses.jpg');
            background-repeat: repeat;
            background-size: cover;

            z-index: -1;
        }

        color: white;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
    }

    .content {
        text-align: center;
        width: 80%;

        a {
            color: white;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                color: $getmagentad;
            }
        }
    }
}

.black {
    background-color: black;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -2;

    opacity: 80%;
}

// projects

#projects {
    padding: 2rem;
}

.project {
    width: 100%;

    &:hover {
        h3 {
            color: $getmagentad;

            &::before {
                content: "> ";
            }

            &#kiwiproject::after {
                content: ", on github";
            }
        }
    }

    a {
        text-decoration: none;
        color: white;

    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
        color: white;
    }

    p {
        font-size: 1.5rem;
        font-weight: 200;
    }
}

// mobile

@media screen and (min-aspect-ratio: 1/1) {
    .flex {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;

        z-index: 1;

        background-color: $notblack;

        h1 {
            font-size: 2rem;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            width: 100%;

            li {
                font-size: 1.5rem;
            }
        }
    }

    main {
        width: 90%;
        height: 100vh;
        margin: auto;

        &#home {
            .bgimage {
                width: 100%;
                height: 100%;

                position: fixed;
                top: 0;
                left: 0;

                background-image: url('../img/blackgold.jpg');
                background-repeat: repeat;
                background-size: cover;

                z-index: -1;
            }
        }

        &#about {
            .bgimage {
                width: 100%;
                height: 100%;

                position: fixed;
                top: 0;
                left: 0;

                background-image: url('../img/pink.jpg');
                background-repeat: repeat;
                background-size: cover;

                z-index: -1;
            }
        }

        &#projects {
            .bgimage {
                width: 100%;
                height: 100%;

                position: fixed;
                top: 0;
                left: 0;

                background-image: url('../img/roses.jpg');
                background-repeat: repeat;
                background-size: cover;

                z-index: -1;
            }
        }

        h1 {
            font-size: 2rem;
        }

        .content {
            width: 100%;
            padding: 2rem;
        }
    }

    footer {
        width: 100%;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        bottom: 0;

        background-color: $notblack;
        color: white;

        z-index: 1;

        &#footer-hover {
            opacity: 100%;
        }
    }
    
}